/*******************************************************************/
/*********************     Global settings      *********************/
/*******************************************************************/
* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

/*******************************************************************/
/*********************     HEADER SECTION      *********************/
/*******************************************************************/


.topbar {
border : 1px solid red;
width : 80%;
margin: 0 auto ;
height : 10%;
background-color: #dfcfcf;
}

.topbar ul {
list-style: none;
border : 2px solid yellow;
overflow: hidden;
width : 80%;
margin: 0 auto ;
}

.topbar li{
    display: block;
    float : left;
    margin : 2%;
    padding : 5px;
    border : 1px solid red;
    border-radius: 3px;
}
.topbar li Link{
text-decoration: none;
}

.topbar li:hover{
    background-color: #c56b6b;
}