/*******************************************************************/
/*********************     Global settings      *********************/
/*******************************************************************/
* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration: none
}

/*******************************************************************/
/*********************     MAIN FULL PAGE      *********************/
/*******************************************************************/


.topbar {
border : 2px solid red;
width : 98%;
margin: 10px auto 0 auto ;
background-color: #dfcfcf;
height : 98vh;
}

/*******************************************************************/
/*********************     TOP BAR      *********************/
/*******************************************************************/

.topbar ul {
list-style: none;
border : 2px solid yellow;
border-radius: 3px;
width : 80%;
margin: 0 auto ;
overflow: hidden;
}

.topbar li{
    display: block;
    float : left;
    margin : 2%;
    padding : 5px;
    border : 2px solid blue;
    border-radius: 3px;
}
.topbar li Link{
text-decoration: none;
}

.topbar li:hover{
    background-color: #c56b6b;
}

/*******************************************************************/
/*********************     TOP BAR      *********************/
/*******************************************************************/
